{% extends 'layout/base.html' %}

<!--overight nhập block cùng tên -->
{% block content %}
{% if products %}
     <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-12 p-2">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="{{p.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.price}}VNĐ</p>
                    <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiết</a>
                    <button class="btn btn-danger">Đặt hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-danger">"Không có sản phẩm nào!"</p>
    {% endif %}
{% endblock %}